.discover {
    grid-column: center-start / center-end;

    &--text {
        max-width: 67rem;
    }

    &--img {
        width: 100%;
        max-width: 100rem;
        height: auto;
    }

    &--btn {
        @include button($color-white);
    }
}