.header {
    grid-column: center-start / center-end;
    max-width: 100%;
    position: relative;

    display: grid;
    grid-template-rows: repeat(2, min-content);

   &__topline {
    padding-top: 3rem;
    z-index: 100;

    &--nav {
        @include links-hover("header__topline--link", $color-white);

        a {
            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }

    &--hamburger {
        span {
            display: block;
            width: 2.6rem;
            height: 3px;
            background-color: $brand-red-main;
            transition: all .3s ease-in-out;
            transform-origin: 2px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &--svg {
        width: clamp(5.5rem, 8.5rem, 10vw);
        height: clamp(4.5rem, 7.5rem, 10vw);
    }
}

   &__botline {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: minmax(min-content, max-content);
    justify-content: center;
    align-content: center;
    grid-row-gap: 2vh;

    &--desc {
        color: $brand-blue-light-1;
    }

    &--btn {
        justify-self: center;
        align-self: center;
        @include button($color-white);
    }
   }

   &__menu {
       background-color: $color-white;
       position: absolute;
       top: 16vh;
       left: 50%;
       width: calc(100% - 2rem);
       transform: translateX(-50%);
       padding: 2rem 1rem;
       text-align: center;
       border-radius: 5px;
       
       & a {
           color: $brand-red-main;
           display: block;
           font-size: $clamped-menu-font;
           animation: fadeInRight .5s ease forwards;
        animation-delay: 1.35s;

           &:not(:last-child) {
               margin-bottom: 2.2rem;
           }
       }
   }

   &.open {
    .header__topline--hamburger {
        z-index: 10000;
        > span:first-child {
            transform: rotate(45deg);
        }

        > span:nth-child(2) {
            opacity: 0;
        }

        > span:last-child {
            transform: rotate(-45deg);
        }
    }

    .overlay {
        visibility: visible;
    }
}
}

.overlay {
    visibility: hidden;
    background: rgb(40,88,153);
    background: linear-gradient(180deg, rgba(40,88,153,.1) 0%, rgba(17,47,87,1) 100%);
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}