.features {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-rows: minmax(min-content, 25rem) min-content;

    &__botline {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        height: 80vh;

        background-image: url('features-phone.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }

    &__image {
        position: absolute;
        top: 64%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    &__item {  // Item features
        display: grid;
        grid-template-columns: minmax(min-content, 44rem);
        grid-template-rows: minmax(min-content, 8rem) repeat(2, min-content);

        margin-bottom: 6rem;

        &--icon {
        }

        &--title {
            color: $color-white;
            font-size: 2.4rem;
            line-height: 3.5rem;
        }

        &--desc {
            color: $color-grey-light-1;
            font-size: 1.6rem;
            line-height: 3.5rem;
        }
    }
}