.features {
    grid-column: center-start / center-end;

    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: clamp(1rem, 3vw, 3rem);
        width: 100%;

        @include breakpoint-down('small') {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        display: grid;
        grid-template-rows: repeat(2, min-content) 1fr;
        grid-template-columns: minmax(min-content, 50rem);
        grid-row-gap: 2rem;

        @include breakpoint-down('small') {
            display: grid;
            grid-template-rows: min-content max-content;
            grid-template-columns: min-content 1fr;
            grid-gap: 1rem 2rem;
            align-items: center;
        }

        &--icon {
            img {
                width: 5.4rem;
                height: 5.4rem;
            }
            
        }

        &--title {
            color: $color-white;
            font-size: $font-big;
        }

        &--desc {
            @include breakpoint-down('small') {
                grid-column: 1 / 3;
            }
        }
    }
}