.prespective {
    grid-column: center-start / full-end;
    width: 100%;
    position: relative;
    margin-top: 20rem;
    height: 70vh;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include breakpoint-down('medium') {
        grid-column: full-start / full-end;
        margin-top: 10rem;
        height: 50vh;
    }

    @include breakpoint-down('small') {
        margin-top: 1rem;
        height: 30vh;
    }
    
    &__info {
        grid-column: 1 / 6;
        max-width: 66rem;
        padding: 1rem;

        &--icon {
            width: 5.4rem;
            height: 5.4rem;
        }

        @include breakpoint-down('medium') {
            padding: 0 4rem;
            grid-column: 1 / -1;
            max-width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        @include breakpoint-down('small') {
            padding: 0 1.5rem;
        }
    }

    &__image {
        grid-column: 6 / -1;
        background-image: url('@/img/prespective-img.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        position: absolute;
        top: 0;
        width: 100%;
        min-width: 40rem;
        height: 100%;

        @include breakpoint-down('medium') {
            grid-column: 1 / -1;
            background-position: right center;
            z-index: -1;
            filter: blur(3px);
        }

        @include breakpoint-up('small') {
            background-position: center center;
        }
    }
}