// Flex mixins
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexVerticalCenter {
    display: flex;
    align-items: center;
}

@mixin flexJustifySB {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Grid mixins
