@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

a, a:visited, a:active {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px/16px -> 1rem = 10px
}

body {
    // background-color: $brand-primary;
    font-family: $font-primary;
    font-size: $clamped-medium-font;
    color: $color-grey-light-1;
    font-weight: 400;
    width: 100%;

    &.noscroll {
        overflow: hidden;
    }

    ::selection {
        color: $brand-red-main;
    }

    @include breakpoint-down('medium') {
        color: $color-grey-light-2;
    }
}

.container {
    width: 100%;
    display: grid;
    // grid-template-rows: repeat(6, min-content) 100vh min-content;
    grid-template-columns: [full-start] minmax(4rem,1fr) [center-start] repeat(12, [col-start] minmax(min-content, 12.5rem) [col-end]) [center-end] minmax(4rem,1fr) [full-end];
}

.flex {
    display: flex;

    &-center {
        justify-content: center;
        align-items: center;
    }

    &-column {
        flex-direction: column;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

.text-center {
    text-align: center;
}

.has-fade {
    visibility: hidden;
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desctop {
    @include breakpoint-up(large) {
        display: none; 
    }
}

// Measures
.mb-sm {
    margin-bottom: 3rem;

    @include breakpoint-down('medium') {
        margin-bottom: 1.5rem;
    }
}

.mb-md {
   margin-bottom: 6rem;

   @include breakpoint-down('medium') {
    margin-bottom: 4rem;
}
}

.mb-bg {
    margin-bottom: 10rem;

    @include breakpoint-down('medium') {
        margin-bottom: 6rem;
    }
}

.mb-lg {
    margin-bottom: 16rem;

    @include breakpoint-down('medium') {
        margin-bottom: 9rem;
    }
}