%heading {
    font-size: $clamped-heading-font;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: $color-white;
    align-self: center;
}

.heading-white {
    @extend %heading;
}

.heading-blue {
    @extend %heading;
    font-weight: 600 !important;
    color: $brand-blue-light-1;
}

.logo-name {
    @extend %heading;
    font-size: clamp(1.1rem, 0.3500rem + 2.0833vw, 2.1rem);
    font-weight: 600;
    margin-left: 1rem; 
}