@mixin icon($color: #fff) {
    position: relative;
    display: inline-block;
    color: $color;
    transition: background-color .6s linear;
    z-index: 1;
    cursor: pointer;
    font-size: clamp(3rem, 1.5000rem + 4.1667vw, 5rem);

    &:active, &.active {
        color: $color;
    }
}

@mixin button($color: #fff) {
    border: 1px solid $brand-blue-light-2;
    color: $color;
    display: inline-block;
    font-size: clamp(1.1rem, 0.8750rem + 0.6250vw, 1.4rem);
    font-weight: 600;
    padding: 1.8rem 3.1rem;
    min-width: 20rem;
    border-radius: 500px;
    text-align: center;
}

// Media queries
@media (min-width: 64em) {
    //styele
}

// --> 640px, 1024px, 1400px -->
$breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "80em");

// <-- 639px, 1023px, 1399px <--
$breakpoints-down: ("small": "39.9375em","medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}