/* Colors */
$brand-primary: #0a2345;
$brand-blue-light-1: #2a5da3; // Head desc
$brand-blue-light-2: #2e66b2; // 
$brand-blue-light-3: #143a6b; // Button border

$color-grey-light-1: #66778e;

$brand-red-main: #ff3334;
$color-white: #fff;
/* Text */
$font-primary: 'Montserrat', sans-serif;

/* Measures */
$container-width: 147rem;